<mat-toolbar color="primary">
    Angular
</mat-toolbar>

<div class="container">
    <mat-card class="card">
        <mat-card-title class="card-title">Cadastro de Clientes</mat-card-title>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite seu nome">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Idade</mat-label>
            <input matInput type="number" placeholder="Digite sua idade">
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="primary">Salvar</button>
            <button mat-raised-button color="warn">Cancelar</button>
        </div>
    </mat-card>
</div>